.bg {
  height: 100vh;
  display: flex
;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 220, 240);
    z-index: 1 
}
body {
  margin: 0px;
  
}

h1{
  display: flex
  ;
  justify-content: center;
  align-items: center;
  color: rgb(37, 98, 151);
  z-index: 1;
  position: relative;

}
.table {

height: 970px;
width: 1000px;
display: flex
;
justify-content: center;
align-items: center;

}
.table-is-real{
  
   overflow: hidden;
  
   
}
.ant-table-container{
  background-color: blue; /**/
}
.ant-table-cell{
  background-color: rgb(240, 240, 240);
  width: 100px;
  height: 100px; /*ขยายได้แต่ไม่ทะลุdiv ขยาย divก็ไม่กว้างขึ้น*/
  border: 2px solid white;
  border-radius: 0;
}
.ant-table-wrapper { /*ขยายตารางแต่ไปแค่ header*/
  width: 1000px;        /* Make sure the table takes up full width */
  max-width: 1200px;  /* Optional: limit max width */
  margin: 20px auto;  /* Center the table horizontally */
  padding: 0px;      /* Optional: add padding around the table */
}
.ant-table th.ant-table-cell{ /*header only*/
  background-color: red;
}
.select{
  /* position:absolute; */
  position: relative;
  right: 790px;
  bottom:380px;
  height:40px;
}
/* .select input::placeholder{  ใช้ไม่ได้มันไม่มี inputแบบsearch
  text-align: center;
  line-height: 50px;
} */
.select .ant-select-selection-placeholder {
  /* text-align: center; 
  line-height: 50px; */
  font-size: 20px;   
  color: black;  
}
.headline{ /*cars*/
  position:relative;
 bottom:450px;
  right: 1000px;
  color: rgb(0, 0, 0);
  font-size: 25px;
} 
.ant-select-single .ant-select-selector{
  box-sizing: border-box;
  border-radius: 0;
}/*ช่องsearchประเทศ*/
/* .ant-select-selection{
  position: relative;
    right: 378px;
    bottom: 451px;
} */
/* .test {
  background-color: red;
} */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.search_name{
  position: relative;
  bottom: 374px;
  right: 620px;
}
.search_name input::placeholder {
  /*text-align: center;  Centers placeholder text horizontally */
  /*line-height: 50px;    Adjust to vertically center the text (match the height of the input) */
  font-size: 20px;
  color: black;  
}
.ant-select-show-search .ant-select-selector {
  display: none;
}
.ant-pagination .ant-pagination-item{
  height: 40px;
  width: 60px;
  background-color: rgb(210, 210, 210);
  margin-inline-end: 0px;
  border: 2px solid white;
  border-radius: 0;
  display: flex;
  justify-content:flex-start; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.ant-select-selection-item{
  font-size: 20px;
}
/* .ant-input{
  font-size: 20px;
  border-radius: 0;
} */
.ant-table-wrapper .ant-table-thead >tr>th{
  background-color: rgba(240, 240, 240, 1); /*rgba = opacity*/
  border: 2px solid white;
  border-radius: 0;
}
.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
  border-radius: 0;
}
.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
  border-radius: 0;
}

/* .upper-div{
  display: flex
  ;
      flex-direction: row;
      gap: 579px;
      justify-content: center;
      height: 100px;
      align-items: flex-end;
  } */
